body {
    overflow-x: hidden;
    font-size: 1rem;
  }
  
  *, :before, :after {
    margin: 0;
    padding: 0;
    position: relative;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  input, select, button, textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
         appearance: none;
    font: inherit;
    color: inherit;
  }
  
  html {
    font-size: 1rem;
    font-family: "Roboto", Verdana, sans-serif;
    color: #3d464d;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    width: 100%;
    overflow: hidden-x;
    text-align: center;
  }
  
  .wrapper {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  
  @media (min-width: 650px) {
    html {
      height: 100%;
    }
    html:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      margin-right: -0.25em;
    }
    body {
      display: inline-block;
      vertical-align: middle;
      max-width: 50rem;
    }
  }
  
  h1 {
    font-size: 3.25rem;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 1rem;
  }
  
  a {
    text-decoration: none;
    color: inherit;
    font-size: 1.25rem;
  }
  
  a:visited,
  a:focus a:hover {
    color: inherit;
  }
  
  .sub_header {
    font-size: 1.25rem;
    font-weight: 300;
  }
  